#allInquiryButton button {
  margin-left: 71%;
  margin-right: 7px;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 8px;
  float: left;
}
#allInquiryButton button:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}

#cancelButton button {

  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 8px;
}

#cancelButton button:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 25px;
}

thead {
  width: 25%;
  background-color: lightgrey;
}

.img {
  width: 100%;
  height: 70vh;
  background-image: url("./imgs/admin1.jpg");
  background-size: 90%;
}
.ad-wrap {
  width: auto;
  margin: 10px auto;
  position: relative;
}
.ad-wrap img {
  width: auto;
  vertical-align: middle;
}
.ad-text {
  font-family: serif;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-90%, -50%);
  color: black;
}

@media(max-width:440px) {
  .lb-wrap {
  width: 95%;
  }
  #container{
    width: 95%;
  }
}

#container {
  width: auto;
  margin: 0px auto;
  color: black;
}
#search{
 text-align: center;

}
table{
  width: 65%;
  margin: 0px auto;
  color: black;
}

h3{
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}
p{
  text-align: center;
  font-size: 14px;
  color: grey;
}
