input {
  width: 380px;
  height: 50px;
}
input:focus {
  outline: 1px solid black;
}
.a{
  margin-top: 50px;
  height : 200px;
 text-align : center;
}
#container {
  width: auto;
  margin: 0px auto;
  color: black;
}
h3{
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}
h4{
  text-align: center;
}
p{
  text-align: center;
  font-size: 14px;
  color: grey;
}
#moveButton button {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 8px;
  width: 380px;
  height: 50px;
  margin-bottom: 120px;
}

#moveButton button:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}
.img {
  width: auto;
  height: 70vh;
  background-image: url("./imgs/banner3.jpg");
}
.lb-wrap {
  width: auto;
  margin: 10px auto;
  position: relative;
}
.lb-wrap img {
  width: auto;
  vertical-align: middle;
}
.lb-text {
  font-family: serif;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
}

@media(max-width:440px) {
  .lb-wrap {
  width: 95%;
  }
  #container{
    width: 95%;
  }
}
