#inquiryButton button {
  margin: auto;
  display: block;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 8px;
}

#inquiryButton button:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}

img {
  display : block;
  margin : auto;
}
