#checkButton button {
  margin-left: 78%;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 8px;
}

#checkButton button:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 25px;
}

th {
  width: 25%;
  background-color: lightgrey;
}

.img {
  width: auto;
  height: 70vh;
  background-image: url("./imgs/banner1.jpg");
}

.lb-wrap {
  width: auto;
  margin: 10px auto;
  position: relative;
}

.lb-wrap img {
  width: auto;
  vertical-align: middle;
}

.lb-text {
  font-family: serif;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}

@media(max-width:440px) {
  .lb-wrap {
    width: 95%;
  }

  #container {
    width: 95%;
  }
}

#container {
  width: auto;
  margin: 0px auto;
  color: black;
}

table {
  width: 65%;
  margin: 0px auto;
  color: black;
}

h3 {
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
  color: grey;
}
