* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

#menuBar {
  position: absolute;
  font-size: 35px;
  left: 20px;
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 440px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

header {
  width: auto;
  height: 60px;
  position: relative;
  color: black;
}

#logo {
  text-align: center;
  margin-top: 15px;
  font-family: 'Gwendolyn', cursive;
  font-size: 20px;
}

#top_menu {
  word-spacing:15px;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 13px;
}

:root {
  --color-text: #fff;
  --color-bg: #ddd;
  --font-text: "Gwendolyn", cursive;
  --fontsize-text: 8vw;
}

body {
  min-height: 100vh;
  color: #000;
  color: var(--color-text);
  background-color: #fff;
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 1s;
}

.sections {
  position: relative;
  display: block;
  padding: 0 6vmax;
}

.section {
  position: relative;
  min-height: 100vh;
}

.section--image {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 10vh 0 30vh auto;
  opacity: 0;
  transition: opacity 1s;
}

.active .section--image {
  opacity: 1;
}

.section--image img {
  display: block;
  position: relative;
  max-width: 90%;
  max-height: 100vh;
  margin: 0 0 0 auto;
}

.section--header {
  font-size: calc(var(--fontsize-text));
  font-family: var(--font-text);
  position: absolute;
  bottom: 5vmax;
  left: 0;
  padding-left: 5vmax;
  z-index: 1000;
  line-height: 1;
  font-weight: 300;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.active .section--header {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 55%, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
