.img {
  width: auto;
  height: 70vh;
  background-image: url("./imgs/story.jpg");
}

.lb-wrap {
  width: auto;
  margin: 10px auto;
  position: relative;
}

.lb-wrap img {
  width: auto;
  vertical-align: middle;
}

.lb-text {
  font-family: serif;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}

/* Layout(No Edit) */
@media(max-width:440px) {
  .lb-wrap {
    width: 95%;
  }

  #container {
    width: 95%;
  }
}

#container {
  width: auto;
  margin: 0px auto;
  color: black;
}

img {
  filter: brightness(100%);
}

#story1 {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}

#story2 {
  margin-left: 25%;
  width: 25%;
  height: 25%;
  margin-right: 5%;
  float: left;
}
#story3 {
  margin-left: 20%;
  margin-right: 5%;
  width: 30%;
  float: left;
}

h3 {
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}

h4 {
  font-family: 'Noto Serif KR', serif;
  font-size: 30px;
}

h5 {
  font-family: 'Noto Serif KR', serif;
}

#clear {
  clear: left;
}

p {
  text-align: center;
  font-size: 14px;
  color: grey;
}
